<a href="https://colab.research.google.com/github/jeeet0700/Python_Intermediate/blob/main/OOPS2Re_take.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
class Car:
  def __init__(self,model,color,price):
    self.model=model
    self.color=color
    self.price=price

  def drive(self):
    print("Jhooom")

c1=Car("Sedan","Red",12345)
c1.price

12345

In [2]:
type(c1.price)

int

In [26]:
c1.color

'Red'

In [27]:
c1.color="Black"

In [28]:
c1.color

'Black'

In [3]:
class Emp:
  def __init__(self,name,salary,project):
    self.name=name
    self.salary=salary
    self.project=project

  def show(self):
    print(self.name,self.salary)

  def work(self):
    print(self.name,self.project)

In [5]:
e1=Emp("jeeet",12345,"NLP")
e1.show()

jeeet 12345

In [6]:
e1.name

'jeeet'

In [19]:
class Emp:
  def __init__(self,name,salary,project):
    self.name=name
    self.__salary=salary
    self.project=project

  def show(self):
    print(self.name,self.__salary)

  def work(self):
    print(self.name,self.project)

emp=Emp("Jeeet",10000,"NLP")
emp.show()

Jeeet 10000

In [20]:
emp.__salary

AttributeError: ignored

In [11]:
class Emp:
  def __init__(self,name,salary,project):
    self.name=name
    self.__salary=salary
    self.project=project

  def show(self):
    print(self.name,self.__salary)

  def work(self):
    print(self.name,self.project)

emp=Emp("Jeeet",10000,"NLP")
emp.show()

Jeeet 10000

In [13]:
class Emp:
  def __init__(self,name,salary,project):
    self.name=name
    self.__salary=salary
    self.project=project

  def set_salary(self,salary):
    self.__salary=salary

  def get_salary(self):
    return self.__salary

  def work(self):
    print(self.name,self.project)

emp=Emp("Jeeet",10000,"NLP")
emp.set_salary(22222)
emp.get_salary()

22222

In [17]:
class Student:
  def __init__(self,name,rollno,age):
    self.name=name
    self.__rollno=rollno
    self.__age=age

  def set_rollno(self,rollno):
    self.__rollno=rollno

  def get_rollno(self):
    return self.__rollno

  def pd(self):
    print(self.name,self.__rollno,self.__age)

s1=Student("ram",23,10)

In [18]:
s1.pd()

ram 23 10

In [21]:
s1.set_rollno(1)
s1.get_rollno()

1

In [22]:
s1.pd()

ram 1 10

In [23]:
s1.__rollno=11

In [24]:
s1.pd()

ram 1 10

In [29]:
s1.__rollno

11

##Inheritance

1.Single Inheritance

In [30]:
class Vehicle:
  wheels=4
  def vehicle_info(self):
    print("Inside vehicle class")

class Car(Vehicle):
  def car_info(self):
    print("Inside Car")

In [31]:
c1=Car()
c1.vehicle_info()
c1.wheels

Inside vehicle class

4

2.Multiple Inheritance

In [44]:
class Person:
  def person_info(self,name,age):
    print(name,age)

class Company:
  def company_info(self,cname,location):
    print(cname,location)

class Emp(Person,Company):
  def emp_info(self,salary,skill):
    print(salary,skill)

e1=Emp()

In [45]:
e1.person_info("abc",23)

abc 23

In [46]:
e1.company_info("HCL","BLR")

HCL BLR

In [47]:
e1.emp_info(123,"C")

123 C

3.Multilevel Inheritance

In [48]:
class Vehicle:
  def vehicle_info(self):
    print("vehicle_info")

class Car(Vehicle):
  def car_info(self):
    print("car_info")

class Supercar(Car):
  def supercar_info(self):
    print("supercar_info")

sc1=Supercar()

In [49]:
sc1.vehicle_info()

vehicle_info

In [51]:
sc1.car_info()

car_info

In [6]:
def pairSum(arr, s):
  l=[]
  print(arr)
  print(s)
  for i in range(0,len(arr)):
    for j in range(i+1,len(arr)):
      print(arr[i],arr[j])
      t=arr[i]+arr[j]
      print(t)
      for a in range(0,len(s)):
        if s[a]==t:
          l.append(arr[i])
          l.append(arr[j])
  return set(l)

In [7]:
s=[5,5]
arr=[1,2,3,4,5]
pairSum(arr,s)

[1, 2, 3, 4, 5]
[5, 5]
1 2
3
1 3
4
1 4
5
1 5
6
2 3
5
2 4
6
2 5
7
3 4
7
3 5
8
4 5
9

{1, 2, 3, 4}