<a href="https://colab.research.google.com/github/jeeet0700/Python_Intermediate/blob/main/W9D22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
class Car:
  def __init__(self,model,color,price):
    self.model=model
    self.color=color
    self.price=price

  def drive(self):
    print("zoom-zoom")

c1=Car("Sedan","Red",120000)

In [5]:
c1.color

'Red'

In [7]:
c1.drive()

zoom-zoom

In [8]:
c2=Car("Sedan","Green",'130000')

In [9]:
c2.drive()

zoom-zoom

In [10]:
class Employee:
  def __init__(self,name,salary,project):
    self.name=name
    self.salary=salary
    self.project=project

  def show(self):
    print("Name: ",self.name,"Salary: ",self.salary)

  def work(self):
    print("Name: ",self.name,"Project: ",self.project)

emp=Employee("Jeeet",120000,"CNN")

In [11]:
emp.show()

Name:  Jeeet Salary:  120000

In [ ]:
emp.