<a href="https://colab.research.google.com/github/jeeet0700/Python_Intermediate/blob/main/W9D22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Car:
  def __init__(self,model,color,price):
    self.model=model
    self.color=color
    self.price=price

  def drive(self):
    print("zoom-zoom")

c1=Car("Sedan","Red",120000)

In [ ]:
c1.color

'Red'

In [ ]:
c1.drive()

zoom-zoom

In [ ]:
c2=Car("Sedan","Green",'130000')

In [ ]:
c2.drive()

zoom-zoom

In [ ]:
class Employee:
  def __init__(self,name,salary,project):
    self.name=name
    self.salary=salary
    self.project=project

  def show(self):
    print("Name: ",self.name,"Salary: ",self.salary)

  def work(self):
    print("Name: ",self.name,"Project: ",self.project)

emp=Employee("Jeeet",120000,"CNN")

In [ ]:
emp.show()

Name:  Jeeet Salary:  120000

In [ ]:
emp.work()

Name:  Jeeet Project:  CNN

In [ ]:
emp.salary=150000

In [ ]:
emp.work()

Name:  Jeeet Project:  CNN

In [ ]:
emp.show()

Name:  Jeeet Salary:  150000

In [ ]:
class Employee:
  def __init__(self,name,salary,project):
    self.name=name
    self.__salary=salary
    self.project=project

  def show(self):
    print("Name: ",self.name,"Salary: ",self.salary)

  def work(self):
    print("Name: ",self.name,"Project: ",self.project)

emp=Employee("Jeeet",120000,"CNN")

In [ ]:
emp=Employee("jeeet",12000,"XYZ")

In [ ]:
emp.show()

AttributeError: ignored

In [ ]:
emp.__salary

AttributeError: ignored

In [ ]:
class Employee:
  def __init__(self,name,salary,project):
    self.name=name
    self.__salary=salary
    self.project=project

  def show(self):
    print("Name: ",self.name,"Salary: ",self.__salary)

  def work(self):
    print("Name: ",self.name,"Project: ",self.project)

emp=Employee("Jeeet",120000,"CNN")

In [ ]:
emp=Employee("Jeeet",1345790,"abc")

In [ ]:
emp.show()

Name:  Jeeet Salary:  1345790

In [ ]:
emp.__salary

AttributeError: ignored

In [ ]:
class Employee:
  def __init__(self,name,salary,project):
    self.name=name
    self.__salary=salary
    self.project=project

  def set_salary(self,salary):
    self.__salary=salary

  def get_salary(self):
    return self.__salary

  def work(self):
    print("Name: ",self.name,"Project: ",self.project)

emp=Employee("Jeeet",120000,"CNN")

In [ ]:
emp.set_salary(300000)
emp.get_salary()

300000

In [ ]:
class Student:
  def __init__(self,name,rollno,age):
    self.name=name
    self.__rollno=rollno
    self.__age=age

  def set_rollno(self,rollno):
    self.__rollno=rollno

  def get_rollno(self):
    return self.__rollno

  def info(self):
    print(self.name,self.__rollno,self.__age)

In [ ]:
s1=Student("Jeeet",1,11)

In [ ]:
s1.info()

Jeeet 1 11

In [ ]:
s1.name

'Jeeet'

In [ ]:
s1.__age

AttributeError: ignored

In [ ]:
s1.set_rollno(999)
s1.get_rollno()

999

In [ ]:
s1.info()

Jeeet 999 11

#Inheritance

1: Single Inheritance

In [ ]:
class Vehicle:
  wheels = 4

  def Vehicle_info(self):
    print("inside Vehicles")

class Car(Vehicle):
  def car_info(self):
    print("inside car")

car=Car()
car.Vehicle_info()
print(car.wheels)
car.car_info()

inside Vehicles
4
inside car

2: Multiple Inheritance

In [ ]:
class Person:
  def person_info(self,name,age):
    print("Nmae:",name,",Age:",age)
  
class Company:
  def company_info(self,company_name,location):
    print("Name: ",company_name,"Location: ",location)

class Employee(Person,Company):
  def employee_info(self,salary,skill):
    print("Salary: ",salary,"Skill: ",skill)

emp=Employee()
emp.person_info("Jeeet",22)
emp.employee_info(12000,"Shell")

Nmae: Jeeet ,Age: 22
Salary:  12000 Skill:  Shell

3: Multilevel Inheritance

In [2]:
class Vehicle:
  def Vehicle_info(self):
    print("Vehicle_info")

class Car(Vehicle):
  def Car_info(self):
    print("Car_info")

class Truck(Car):
  def Truck_info(self):
    print("Truck Info")

t1=Truck()

In [4]:
t1.Vehicle_info()

Vehicle_info

In [5]:
c1=Car()

In [6]:
c1.Vehicle_info()

Vehicle_info

4: Hierarchical Inheritance

In [7]:
class Vehicle:
  def vehicle_info(self):
    print("vehicle info")

class Car(Vehicle):
  def car_info(self):
    print("Cra info")

class Truck(Vehicle):
  def truck_info(self):
    print("truck info")

t1=Truck()
c1=Car()

In [8]:
c1.vehicle_info()

vehicle info

In [9]:
t1.vehicle_info()

vehicle info

5: Hybrid Inheritance

In [12]:
class Vehicle:
  def vehical_info(self):
    print("Vehicle info")

class Car(Vehicle):
  def car_info(self):
    print("Car info")

class Truck(Vehicle):
  def truck_info(self):
    print("Truck info")

class Sportcar(Car,Vehicle):
  def sport_car_info(self):
    print("Sport car info")

In [13]:
sc=Sportcar()

In [14]:
sc.vehical_info()

Vehicle info

In [15]:
sc.car_info()

Car info

##Super class

In [18]:
class Company:
  def company_info(self):
    return "Google"

class Emp(Company):
  def emp_info(self):
    c_name=super().company_info()
    print(c_name)

emp=Emp()
emp.emp_info()

Google

In [19]:
class Company:
  def company_info(self):
    return "Google"

class Emp(Company):
  def emp_info(self):
    c_name=self.company_info()
    print(c_name)

emp=Emp()
emp.emp_info()

Google

##Method Over riding

In [17]:
class Vehicle:
  def max_speed(self):
    print("Max speed 100")

class Car(Vehicle):
  def max_speed(self):
    print("Max speed 200")

c1=Car()
c1.max_speed()

Max speed 200

In [22]:
class Vehicle:
  def max_speed(self):
    print("Max speed 100")

class Car(Vehicle):

  def f(self):
    print(super().max_speed())

  def max_speed(self):
    print("Max speed 200")

c1=Car()
c1.max_speed()
c1.f()

Max speed 200
Max speed 100
None