<a href="https://colab.research.google.com/github/jeeet0700/Python_Intermediate/blob/main/W9D22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Car:
  def __init__(self,model,color,price):
    self.model=model
    self.color=color
    self.price=price

  def drive(self):
    print("zoom-zoom")

c1=Car("Sedan","Red",120000)

In [ ]:
c1.color

'Red'

In [ ]:
c1.drive()

zoom-zoom

In [ ]:
c2=Car("Sedan","Green",'130000')

In [ ]:
c2.drive()

zoom-zoom

In [ ]:
class Employee:
  def __init__(self,name,salary,project):
    self.name=name
    self.salary=salary
    self.project=project

  def show(self):
    print("Name: ",self.name,"Salary: ",self.salary)

  def work(self):
    print("Name: ",self.name,"Project: ",self.project)

emp=Employee("Jeeet",120000,"CNN")

In [ ]:
emp.show()

Name:  Jeeet Salary:  120000

In [ ]:
emp.work()

Name:  Jeeet Project:  CNN

In [ ]:
emp.salary=150000

In [ ]:
emp.work()

Name:  Jeeet Project:  CNN

In [ ]:
emp.show()

Name:  Jeeet Salary:  150000

In [1]:
class Employee:
  def __init__(self,name,salary,project):
    self.name=name
    self.__salary=salary
    self.project=project

  def show(self):
    print("Name: ",self.name,"Salary: ",self.salary)

  def work(self):
    print("Name: ",self.name,"Project: ",self.project)

emp=Employee("Jeeet",120000,"CNN")

In [2]:
emp=Employee("jeeet",12000,"XYZ")

In [3]:
emp.show()

AttributeError: ignored

In [4]:
emp.__salary

AttributeError: ignored

In [6]:
class Employee:
  def __init__(self,name,salary,project):
    self.name=name
    self.__salary=salary
    self.project=project

  def show(self):
    print("Name: ",self.name,"Salary: ",self.__salary)

  def work(self):
    print("Name: ",self.name,"Project: ",self.project)

emp=Employee("Jeeet",120000,"CNN")

In [7]:
emp=Employee("Jeeet",1345790,"abc")

In [8]:
emp.show()

Name:  Jeeet Salary:  1345790

In [9]:
emp.__salary

AttributeError: ignored

In [10]:
class Employee:
  def __init__(self,name,salary,project):
    self.name=name
    self.__salary=salary
    self.project=project

  def set_salary(self,salary):
    self.__salary=salary

  def get_salary(self):
    return self.__salary

  def work(self):
    print("Name: ",self.name,"Project: ",self.project)

emp=Employee("Jeeet",120000,"CNN")

In [11]:
emp.set_salary(300000)
emp.get_salary()

300000

In [12]:
class Student:
  def __init__(self,name,rollno,age):
    self.name=name
    self.__rollno=rollno
    self.__age=age

  def set_rollno(self,rollno):
    self.__rollno=rollno

  def get_rollno(self):
    return self.__rollno

  def info(self):
    print(self.name,self.__rollno,self.__age)

In [13]:
s1=Student("Jeeet",1,11)

In [14]:
s1.info()

Jeeet 1 11

In [16]:
s1.name

'Jeeet'

In [17]:
s1.__age

AttributeError: ignored

In [18]:
s1.set_rollno(999)
s1.get_rollno()

999

In [19]:
s1.info()

Jeeet 999 11